In [36]:
class worker():
    def __init__(self,number,name,age,salary):
        self.number=number
        self.name=name
        self.age=age
        self.salary=salary
    
    def salary1(self):
        return self.salary

    def age1(self):
        return 2022-self.age

In [37]:
w1=worker(1,"Adam",1983,1500)
w2=worker(2,"Anna",1981,1700)
w3=worker(3,"Błażej",1990,1800)
w4=worker(4,"Beata",1992,1600)
w5=worker(5,"Czesław",1980,2000)
w6=worker(6,"Cecylia",1983,2100)
w7=worker(7,"Daniel",1976,1900)

In [38]:
list=[]
list.append(w1)
list.append(w2)
list.append(w3)
list.append(w4)
list.append(w5)
list.append(w6)
list.append(w7)

In [39]:
sum=0
for i in range(len(list)):
    sum+=list[i].salary1()
print(sum/len(list))

1800.0

In [40]:
w1.salary1()

1500

In [44]:
sum1=0
t1=0
sum2=0
t2=0
for i in range(len(list)):
    if list[i].age1()<30:
        sum1+=list[i].salary1()
        t1+=1
    else:
        sum2+=list[i].salary1()
        t2+=1
if t1==0:
    print("Nie ma pracowników poniżej 30 roku życia :(")
else:
    print("Średnie zarobki pracowników poniżej 30 roku życia to: ",sum1/t1)

if t2==0:
    print("Nie ma pracowników od 30 lat w góre  :(")
else:
    print("Średnie zarobki pracowników mających przynajmniej 30 lat to: ",sum2/t2)

Nie ma pracowników poniżej 30 roku życia :(
Średnie zarobki pracowników mających przynajmniej 30 lat to:  1800.0